<div class="row">
    <div class="col-ng-12">
        <h1>Users List</h1>
        <hr>
        <div class="col-ng-12">
            <table class="table table-bordered table-stripped">
                <tr>
                    <th>Active</th>
                    <th>No</th>
                     <th>Avatar</th>
                     <th>Name</th>
                     <th>Mobile No</th>
                     <th>Email</th>
                </tr>
                <tr *ngFor="let user for users; let i = index">
                    <td>
                        <button routerLink="/edit/1" class="btn btn-sm btn-outline-primary">Edit</button>,
                        <button (click)="delete(user.id)" class="btn btn-sm btn-outline-danger">delete</button>
                     
                    </td>
                    <td>{{ i + 1 }}</td> 
                    <td>
                        <img style="height: 80px;" src="{{ users.avatar}}" >


                    </td>

                    <td>
                       {{user.name}}
                    </td>
                    <td>{{user.Mobileno}}</td>
                    <td>{{ user.email }}</td>
                </tr>
            </table>

        </div>
    </div>
</div>